.styled-list {
	background-color: rgba(0, 0, 0, 0);
	padding-left: 24px;
	padding-right: 24px;
}

.styled-list > listview {
	padding-top: 16px;
	padding-bottom: 24px;
	margin-left: -24px;
	margin-right: -24px;
	border-spacing: 8px;
}

.styled-list > listview > row {
	margin-left: 24px;
	margin-right: 24px;
	border-radius: 11px;
}

.styled-list row > cell > * {
	margin-top: -8px;
	margin-bottom: -8px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.styled-list button:first-child {
	border-radius: 9px 0px 0px 0px;
}

.styled-list button:last-child {
	border-radius: 0px 9px 0px 0px;
}
